#Backpontos {
    background-color: #FFFFFF;
    height: 45em;
    

}

.Cabecapontos {
    margin-top: 3em;
    width: 100%;
    justify-items: center;
    
}

.Divpontos {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Pontos {
    background-color: #00C64F;
    border: 1px solid #00C64F;
    border-radius: 8px;
    text-align: left;
    height: 10em;
    width: 50%;
    min-width: 10em;
    max-width: 49em;
    margin: 30px 0px;
    display: flex;
}

.Textopontos > div > p {
    color: white;
    
    
}

.Div-tpontos {
    justify-content: space-between;
    display: flex;
}

.Textopontos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
    width: 100%;
}

.Tpontos {
    font-size: 14px;
    color: white;
}

.Div-quantos {
    width: 100%;
}

.Quantpontos {
    width: 100%;
}


.Basedescont {
    width: 50%;
    max-width: 49em;
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
}

.Desconto {
    background-color: #F0FDF4;
    border-radius: 8px;
    width: 30.16%;
    border:1px solid #86EFAC;
}

.Indesconto {
    padding: 18px;
    text-align: left;
}



.Icondescont {
    background-color: #b9e9ca;
    width: 2.9em;
    height: 2.1em;
    border-radius: 6px;
    

    align-self: center;
    align-content: center;
    text-align: center;
    
}

.Indesconto > div {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

}

.Indesconto > div > p {
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.Indesconto > div > p > span {
    font-size: 12px;
    color: #4B5563;
}

.Indesconto > p {
    margin-bottom: 18px;
    font-size: 15.4px;
}



.Indesconto > input {
    width: 100%;
    border-radius: 8px;
    height: 2.5em;
    color: white;
    background-color: #030213;
    font-weight: bolder;
}

.Indesconto > input:hover {
    color: gray;
}

.Impacto {
    border: 1px solid #86EFAC;
    width: 100%;
    border-radius: 6px;
    height: 7em;
}

.Ininpacto {
    padding: 18px;
}

.Ininpacto > h2 {
    font-size: 15px;
    font-weight: normal;
    color: black;
    padding-bottom: 19px;
}

.Ininpacto > div {
    justify-content: center;
    text-align: center;
    
    display: flex;
    gap: 8em;
}

.Impactonum {
    font-size: 20px;
    font-weight: bold;
}

.Impactoitens {
    font-size: 15px;
    color: #4B5563;
}