.container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
    width: 99.2vw;
    min-height: calc(100vh - 60px);
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: center;

    
}
h1 {
    color: #1E2939;
}

p {
    color: #4A5565;
}