#heroi {
    text-align: center;
    padding-top: 65px;
    height: 24em;

    justify-content: center;
    background-color: #F9FEFA;
}

.fr-efeito > h1 > span {
    color: rgb(3, 163, 3);
}

.fr-contet {
    width: 35em;

    text-align: left;
    justify-self: left;
    

    margin: 20px 0px;

}

.fr-contet > p {
    font-size: 17px;
}

.dash-logo {
    display: flex;

    width: 70em;
    justify-content: space-between;

}

.dash-contet {
    width: 50%;
}

.fr-efeito {
    text-align: left;
    justify-self: right;
    

    width: 35em;
    
}

.fr-efeito > h1 {
    font-weight: bolder;
    font-size: 2.7em;
}

.dash-img {
    width: 25em;
    border-radius: 6px;
    height: 70%; 
    display: flex;
    align-items: center;   
}

.div-img {
    align-content: center;
    
    width: 31em;
    height: 20em;
    border-radius: 200px;

    background-color: #DCFCE7;
    margin-right: 30px;
}

.div-img > img {
    width: 28em;
    border-radius: 8px;
    height: 17.5em;
}

.top {
    display: flex;
    gap: 120px;
    
    width: 100%;
    margin-bottom: 15px;
    
}

.top > p {
    font-size: 15px;
}

.botoes {
    display: flex;
    padding-top: 20px;
    width: 35em;  
}

.botoes > div {
    padding: 0px 10px 10px 0px;
    
}

.botoes > div > a {
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
}

.dash-cmc {
    background-color: rgba(49, 196, 105, 0.986);
    color: #fbfffc;
    width: 30px;
}

.dash-cmc:hover {
    background-color: rgba(28, 143, 72, 0.986);;
    transition: background-color 0.3s ease;
}

.dash-guia {
  color: black;
}

.dash-guia:hover {
    background-color: rgba(231, 224, 224, 0.788);
    transition: background-color 0.3s ease;
}