#heroi {
    text-align: centr;
    padding-top: 65px;
    background: #fbfffc;
    margin-bottom: 1rem;
    height: 24em;
    
}

.fr-efeito > span {
    color: rgb(3, 163, 3);
}

.fr-contet {
    text-align: left;
    width: 65%;
    
    font-size: 17px;
    
    justify-self: center;
    padding: 15px;
    
}

.dash-logo {
    display: flex;
}

.dash-contet {
    width: 50%;

    padding-left: 60px;
}

.fr-efeito {
    text-align: left;
    justify-self: center;
    width: 65%;
    font-size: 40px;
    
}

.dash-img {
    width: 25em;
    border-radius: 6px;
    height: 70%; 
    display: flex;
    align-items: center;   
}

.div-img {
    width: 50%;
    height: auto;
    height: 100%;
}

.top {
    display: flex;
    gap: 80px;
    justify-self: center;
    padding-top: 20px;
    
    width: 70%;
    font-size: 12px;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-self: center;
    padding-top: 20px;
    width: 68%;  
}

.botoes > div {
    padding: 10px 10px 10px 10px;
    
}

.botoes > div > a {
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
}

.dash-cmc {
    background-color: rgba(49, 196, 105, 0.986);
    color: #fbfffc;
}

.dash-cmc:hover {
    background-color: rgba(28, 143, 72, 0.986);;
}

.dash-guia {
  color: #ccc;
}