header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-self: auto;
    
    justify-content: center;

    
    height: 30px;

    padding: 16px;

    background-color: rgba(28, 143, 72, 0.986);
}

h2 {
    color: white;
}

.recicla {
    padding-right: 10px;
}

header > div {
    display: flex;
    gap: 40px;
    
    
}


header > div > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.856);
    padding-top: 7.5px;
    
  
}

header > div > a:hover {
    color: rgba(125, 170, 136, 0.719);
    text-decoration: none;
}